* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: black url("imagen/fundo.jpg");
  margin: 0;
}

.cabecalho {

  background-color: rgba(46, 51, 68, 1);
  float: left;
  padding: 7.5% 5% 0% 10%;
  width: 85%;
}

/*MENUS*/

#nave {
  text-align: center;
  position: relative;
  font-family: monospace;
}

.menu {
  list-style: none;
}

.menu li {
  float: left;
  width: 18%;
}

.menu li a {
  display: block;
  color: #cccccc;
  text-shadow: 1px 1px 3px rgb(30, 2, 68);
  padding: 7.5%;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}

/*MENU DROP*/
.drop {
  background-color: rgba(46, 51, 68, 1);
  visibility: hidden;
  list-style: none;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  width: 18%;
  display: block;
  box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.2);
}

.drop li {
  margin: 0;
  float: left;
  width: 100%;
}

.drop a img {
  border-radius: 15px;
  width: 25px;
  display: block;
  padding: 5px 5px 5px 25px;
  margin: 0;
}

.menu li a:hover, .drop li:focus-within {
  background-color: #010103;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  color: #ccc;
}

.menu li:hover>.drop, .menu li:focus-within>.drop, .menu li .drop:hover, .menu li .drop:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

/*FIM DOS MENUS*/

/*CORPO DO SITE*/

#corpo {
  background: white;
  width: 50%;
  padding: 5px;
  margin: 0 auto;
}

#postagem1 {
  width: 100%;
}

#postagem1 img {
  width: 100%;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 15px;
}

h2 {
  padding: 15px;
}

#postagem2 {
  width: 100%;
}

#postagem2 img {
  width: 100%;
}


/* tabela da pagina grade curricular */
#tabela{
  padding: 10%;
  margin-bottom: 20%;
}


th {
	background-color: #dddddd;
}

td, th {
	border: 1px solid  #dddddd;
	text-align: left;
	margin: 10px;
	padding: 15px;
}

.hh2{
  clear: both;
  padding: 30px;
  text-align: center;
}

/*Projetos */

#projetos{
  padding: 10%;
  margin-bottom: 45%;
}

/*Contato Formulário*/


form {
  border: 1px solid grey;
	margin: 0 auto;
	width: 90%;
	padding: 1em;
  padding-bottom: 45%;
	border-radius: 1em;
}

form li {
  
	display: inline-block;
	width:  35%;
  padding: 5%;
	padding-bottom: 3px;
}

form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

label {
	width: 35%;
	text-align: right;
}

input[type="text"], textarea {
	font: 1em sans-serif;
	width: 100% ;
}
/*fim - formulário*/

/*Botão Enviar mensagem  */
input[type="submit"] {
	border: none;
	border-radius: 15px;
	padding: 2% 3%;
  margin: 5%;
	outline: none;
	background-color: #2161b9;
	color:#EFF5FB;
	font-size: 12px;
	box-shadow: 0 6px #71718252; 
	cursor: pointer;
}

input[type="submit"]:hover{
	background-color: #0B0B61;
}

input[type="submit"]:active{
	background-color: #0B0B61;
	box-shadow: 0 4px #424242;
	transform: translateY(4px);
}
/*fim - Botão */

/*RODAPE*/

footer {
  clear: both;
  padding: 0.5%;
  text-align: center;
  background-color: rgba(46, 51, 68, 1);
  color: #ccc;
  font-family: monospace;
}

@media screen and (min-width: 481px) and (max-width: 900px) { /* Tamanho medio*/
  .cabecalho {
    background-color: rgba(46, 51, 68, 1);
    float: left;
    padding: 0;
    width: 100%;
  }
  .menu li {
    float: left;
    padding: 0;
    margin: 1%;
    width: 45%;
  }
  .menu li a:hover {
    background-color: #010103;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  .drop li {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
  }
  .drop {
    background-color: rgba(46, 51, 68, 1);
    visibility: hidden;
    list-style: none;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    width: 45%;
    display: block;
    box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.2);
  }

  #postagem1 img {
    padding: 5%;
    width: 90%;
  }

  #postagem2 img {
    padding: 5%;
    width: 90%;
  }

  #corpo {
    padding: 0;
    width: 95%;
  }
  article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding: 13px;
  }
  .hh2{
    padding: 30px;
    text-align: center;
  }
  
  #projetos{
    padding: 10%;
    margin-bottom: 55%;
  }

  form {
    width: 90%;
  }
  
 
}

@media screen and (max-width: 480px) {/*Tamanho menor*/
  .cabecalho {
    background-color: rgba(46, 51, 68, 1);
    float: left;
    font-size: 0.9em;
    padding: 0;
    width: 100%;
  }
  #corpo {
    background: black url("imagen/fundo.jpg");
    color: white ;
    font-size: 0.9em;
    float: left;
    padding: 0;
    width: 100%;
  }
  .menu {
    width: 100%;
    height: 0;
  }
  .menu li {
    width: 100%
  }
  .menu li a {
    text-align: left;
  }
  .drop {
    background-color: rgba(46, 51, 68, 1);
    visibility: hidden;
    list-style: none;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    width: 100%;
    display: block;
    box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.2);
  }

  article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 15px;
  }
  footer {
    font-size: 0.9em;
    clear: both;
    padding: 2%;
    text-align: center;
    background-color: rgba(46, 51, 68, 1);
    color: #ccc;
    font-family: monospace;
  }

.hh2{
  padding: 10px;
  margin-top: 15%;
  text-align: center;
}

  #tabela {
    margin-top: 70%;
    display: block;
    position: relative;
    width: 100%;
  }
  
  #tabela th,
  #tabela td,
  #tabela tr{
    display: block;
  }
  #tabela th{
    color: black;
  }

  #tabela td,
  #tabela th{
    height: 35px;
  }

  #projetos{
    padding: 10%;
    margin-bottom: 76%;
  }

  form {
    width: 90%;
  }
}